nav{
    position: fixed;
}
ol {   
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  ol .zero1{
    padding: 20px;
    font-size: 20px;
  }
  li {
    float: left;
    padding-left: 50px;
   font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000; 
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
 
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 40px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  h2{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
font-size: 29px;
font-weight: 1700;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
/* font-weight: 700; */
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
padding-left: 60px;
  }
  
  .two{
    margin-left: 40px;
  }
  .three{
    margin-left: 40px;
  }
  .four{
    margin-left: 40px;
  }
  .five{
    margin-left: 40px;
  }

 